.label {
    -fx-background-color: linear-gradient(to bottom right, #E946B4, #B847D9);
    -fx-border-color: #FF8DDA;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px 14px;
}

.reply-label {
    -fx-background-color: #EDE9FF;
    -fx-border-color: #9C8CF7;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #241846;
}

.add-label {
    -fx-background-color: #CFF8FF;
    -fx-border-color: #36CFE3;
}

.marked-label {
    -fx-background-color: #D7FBE8;
    -fx-border-color: #45D69A;
}

.delete-label {
    -fx-background-color: #FFE0E8;
    -fx-border-color: #FF789A;
}

#displayPicture {
    -fx-effect: dropshadow(
            gaussian,
            rgba(80, 220, 255, 0.45),
            14,
            0.45,
            0,
            2
    );
}
